/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color: #222;}
li {list-style: none;}
a {color: #222; text-decoration: none;}
input, textarea, button {font-family: inherit;}


/* 공통으로 사용하는 클래스 */
.section {padding: 100px 0;}
.wrap {width: 1100px; margin: 0 auto;}
.titleimg {text-align: center;}
.text-gray {color: #999;}


/* header */
header {display: none;}


/* section 1 */
.section1 {background-color: #e5edf5; background-size: 1980px; background-image: url(images/gradient.jpg); background-repeat: no-repeat; height: 1090px; position: relative; padding-bottom: 100px;}
.main-img img {display: block; margin: 0 auto;}
.section1 .text {position: absolute; bottom: 100px; left: 50%; transform: translateX(-50%)}
.section1 .text::after {content: ''; display: block; clear: both;}
.section1 .text span {float: left; display: inline-block; width: 25%; text-align: center;}
.section1 .text .text2 {animation-delay: 0.3s}
.section1 .text .text3 {animation-delay: 0.6s}
.section1 .text .text4 {animation-delay: 0.9s}


/* section 2 */
.section2 {background-color: #e5edf5; background-size: cover; background-image: url(images/marbled.jpg); background-repeat: no-repeat; height: 900px;}
.section2 .reserve {width: 50%; margin: 0 auto; padding-top: 50px;}
.form-group {margin: 20px 0;}
.form-group .label {display: inline-block; font-size: 16px; margin-bottom: 10px;}
.form-control {width: 100%; background: #fff; border: 0; box-shadow: 0 0 3px rgba(0,0,0,0.1); height: 50px; border-radius: 3px; padding: 6px;}
.btn {width: 100%; background: #4e46d0; height: 50px; border-radius: 3px; border: 0; color: #fff; font-size: 16px;}
.btn-gray {background: #383c44;}

.cont-float::after {content: ''; display: block; clear: both;}
.cont-float input {float: left;}
.cont-float button {float: left;}

.hp-model-input {display: none; padding-top: 5px;}


/* section 3 */
.section3 {padding-top: 0 !important;}
.section3 .title-bar {background: #4e46d0; text-align: center; padding: 50px 0; position: relative;}
.section3 .title-bar::after {content: ''; display: inline-block; width: 50px; height: 50px; background: #4e46d0; transform: rotate(45deg); position: absolute; bottom: -13px; left: 50%; margin-left: -25px;}
.section3 .order {padding-top: 100px;}
.section3 .order ul::after {content: ''; display: block; clear: both;}
.section3 .order ul li {float: left; width: 20%; text-align: center;}


/* section 4 - 요청으로 삭제 */


/* section 5 */
.section5 {background: #e0dff8; position: relative;}
.section5::after {content: ''; display: block; background-image: url(images/wave.png); height: 96px; width: 100%; position: absolute; bottom: -47px; left: 0;}
.section5 .inner {margin-top: 40px;}
.section5 .inner ul::after {content: ''; display: block; clear: both;}
.section5 .inner ul li {float: left; width: 33.333%; padding: 0 5px;}
.section5 .inner ul li .item-inner {text-align: center; background: #fff; padding: 30px; border-radius: 10px; box-shadow: 2px 2px 10px rgba(0,0,0,0.1);}

.section5-1 {background: #e9f6fe; text-align: center;}
.section5-1 .titleimg {padding-top: 40px;}
.section5-1 .inner {background:#fff; padding: 30px; border-radius: 10px; margin-top: 40px; box-shadow: 2px 2px 10px rgba(0,0,0,0.1);}
.section5-1 .inner ul::after {content: ''; display: block; clear: both;}
.section5-1 .inner ul li {float: left; width: 50%; text-align: center; padding: 0 15px;}
.section5-1 .inner ul li img {width: 100%}


/* section 6 */
.section6 {background: #fff; padding-bottom: 160px !important;}
.video {margin-top: 40px;}
.video ul::after {content: ''; display: block; clear: both;}
.video ul li {width: 33.333%; float: left; padding: 0 10px;}
.video .video-box {display: block; background: #fff; box-shadow: 0 0 8px rgba(0,0,0,0.1); padding: 10px;}
.video .video-box .thumbnail img {width: 100%;}
.video .video-box .text {font-size: 17px; font-weight: 500; padding: 10px 0 15px;}
.video .video-box .link {width: 100%; height: 60px; background: #4e46d0; line-height: 60px; font-size: 16px; text-align: center; color: #fff;}


/* footer */
footer {background: #eee; font-size: 13px; text-align: center; padding: 20px 0 100px;}


/* go top */
.go-top {position: fixed; bottom: 95px; right: 40px; z-index: 99;}


/* side wing - 요청으로 삭제 */


/* fixed button */
.fixed-btn {position: fixed; left: 0; bottom: 0; height: 80px; background: #0073df; width: 100%; text-align: center;}
.fixed-btn .btn {height: 80px; font-size: 25px; background: #0073df; cursor: pointer;}



@media (max-width: 1200px) {
    .wrap {width: 760px;}
    .section {padding: 70px 0; height: auto;}

    .section1 {height: 950px;}
    .main-img img {width: 100%;}
    .section1 .text img {width: 100%;}
    
    .section3 .order ul li {padding: 0 10px;}
    .section3 .order img {width: 100%;}

    .section5 .inner ul li .item-inner img {width: 100%;}

    .section5-1 .inner ul li {float: none; width: 100%;}
    .section5-1 .inner ul li img {width: 65%;}
}

@media (max-width: 990px) {
    header {display: block; width: 100%; height: 50px; background: #fff; text-align: center; position: fixed; top: 0; left: 0; z-index: 990;}
    header .logo {line-height: 50px; font-size: 16px; font-weight: 500;}
    header .counsel {position: absolute; top: 8px; right: 15px; padding: 6px 8px; border-radius: 4px; border: 1px solid #4e46d0; color: #4e46de;}

    .section1 {padding-top: 120px;}

    .go-top  {right: 20px;}
}

@media (max-width: 768px) {
    .wrap {width: 95%;}

    .titleimg img {width: 100%;}

    .section1 {height: auto; padding-bottom: 160px !important;}

    .section2 .titleimg img {width: auto;}
    .section2 .reserve {width: 90%;}
    .form-group .label {font-size: 14px;}
    .btn {font-size: 14px;}

    .section3 .title-bar img {width: 70%;}
    .section3 .order ul li {width: 50%; padding: 0 50px;}
    .section3 .order ul li:last-child {margin-left: 25%;}

    .section5 .inner ul li {float: none; width: 100%; padding: 10px 0!important;}
    .section5 .inner ul li .item-inner img {width: 60%;}

    .section5-1 .titleimg img {width: 47%;}
    .section5-1 .inner ul li img {width: 85%;}

    .section6 .titleimg img {width: 80%;}

    footer {padding-bottom: 90px;}

    .fixed-btn {height: 70px;}
    .fixed-btn .btn {height: 70px; font-size: 20px;}

    .go-top {width: 40px; height: 40px; bottom: 85px;}
    .go-top img {width: 100%;}
}

@media (max-width: 480px) {
    .titleimg img {width: 90%;}

    .section1 {padding-bottom: 100px !important;}
    .section1 .text {bottom: 70px;}

    .section2 .titleimg img {width: 45%;}

    .section3 .order {padding-top: 80px;}
    .section3 .order ul li {padding: 0 20px;}

    .section5::after {height: 55px; background-size: contain; background-repeat: no-repeat;}
    .section5 .inner ul li .item-inner img {width: 70%;}

    .section5-1 .titleimg {padding-top: 10px;}
    .section5-1 .inner ul li img {width: 100%;}

    .section6 .titleimg img {width: 75%;}
    .video .video-box .text {font-size: 15px;}
    .video .video-box .link {height: 50px; line-height: 50px;}

    footer {padding-bottom: 80px;}

    .go-top {right: 10px; bottom: 70px;}

    .fixed-btn {height: 60px;}
    .fixed-btn .btn {height: 60px; font-size: 18px;}
}